@import url(./_reset.css);
@import url(./_variaveis.css);

body {

    background: url(../../img/fundo-textura.png), url(../../img/fundo-linhas.png);
    background-position: center;

    font-family: var(--familia-corpo);
    font-size: var(--tamanho-corpo);
    
    color: var(--cinza);
}

* {
    box-sizing: border-box;
}

.container {

    padding: 0 1rem;

}

.titulo {

   font-size: var(--tamanho-titulo);

}

.titulo-destaque {

    font-family: var(--familia-titulo-destaque);
    font-size: var(--tamanho-titulo-destaque);
    font-weight: var(--peso-titulo-destaque);

    color: var(--preto);

    display: block;

    margin: .75rem 0;
}

.alinhamento--esquerda { 
    text-align: left;
}

.alinhamento--center { 
    text-align: center;
}

.texto {
    line-height: 26px;
}