.input {

    color: inherit;
    font-family: inherit;
    font-size: inherit;

    width: 100%;

    padding: 1.75rem;

    /* box-sizing: border-box; */

    margin-bottom: 1rem;

    border: none;

    background-color: var(--branco);

    box-shadow: 10px 10px 30px var(--preto-transparente);
}

.input--icone {
    padding-left: 4.25rem; 

    background-repeat: no-repeat;
    background-position: left 1.75rem center;
}

.input--email {
    background-image: url(../../img/icons/mail.svg);
}